.Author {
    cursor: pointer;
}

.Author__name {
    text-decoration: none;
    display: block;
    font-size: 90%;
    color: #444 !important;
    font-weight: 600;
    line-height: 1;
}

.Author__username {
    text-decoration: none;
    font-weight: 400;
    color: #666 !important;
    line-height: 0;
}

.Author__bio {
    clear: both;
    font-size: 90%;
}
