.HorizontalMenu {
  .active > a {
    background: none;
    font-weight: 600;
    @include themify($themes) {
      color: themed('textColorAccent');
    }

  }
  li > a:hover {
    // color: $black;
  }
  > li:first-child > a {
    padding-left: 0;
  }
  > li:last-child > a {
    padding-right: 0;
  }
}

ul.HorizontalMenu.menu {
  display: flex;
  padding-left: 0.5em;

  li > a {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .Icon {
    margin-right: 10px;
  }
}
