.shareMenu {
  display: flex;
  height: 2em;
  position: fixed;
  bottom: 30vh;
  margin-left: -150px;
}

.shareItems {
  list-style: none;
  display: inline;
  margin-left: 0.01em;
  div {
    margin: 0px 0px 20px 0px;

    svg {
      width: 1.2rem;
      height: 1.2rem;
      fill: #cacaca;
    }
  }
  div > a {
    transition: 0.2s all ease-in-out;
  }
  div > a:hover {
    color: #ffffff;
    svg {
      @include themify($themes) {
        fill: themed('colorAccent');
      }
    }
  }
  div > a:link {
    text-decoration: none;
  }
}

.RightShare__Menu {
  padding-right: 0.6rem !important;
}
