.Userpic {
  display: inline-block;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;

  width: 30px;
  height: 30px;
}

/* Medium and up */
@media screen and (min-width: 39.94em) {
  .Userpic {
    width: 48px;
    height: 48px;
  }
}
