
.Settings {
    .button {
        text-decoration: none;
        border-radius: 0;
        @include font-size(18px);
        background-color: $secondary-color;
        color: $color-text-white;

        &:hover, &:focus {
            background-color: smart-scale($secondary-color);
            color: $color-text-white;
        }
        &:visited, &:active {
            color: $color-text-white;
        }
    }
    .button.disabled, .button[disabled] {
        opacity: 0.25;
        cursor: not-allowed;
    }
    .success, .error {
        text-transform: capitalize;
        padding-left: 8px;
    }
    .success {
        @include themify($themes) {
            color: themed('textColorAccent');
        }
    }
    p.error {
        position: relative;
        top: 4px;
        line-height: 1.2;
    }
    div.error {
        padding-left: 0;
    }
}
