.sub-menu {
  li {
    padding: 0.1rem 0.1rem;
    a {
      padding: 0px;
    }
  }
  li:last-child {
    padding: 0 0 0 1rem;
  }

  .search {
    border-radius: 50%;
    padding: 0px;
    padding-top: 7px;
    padding-left: 6px;
    width: 35px !important;
    height: 35px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    background: #fdfcfc;
  }

  .medal {
    border-radius: 50%;
    padding: 0px;
    padding-top: 7px;
    padding-left: 7px;
    width: 35px !important;
    height: 35px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    background: #fdfcfc;
  }

  .pencil {
    border-radius: 50%;
    padding: 0px;
    padding-top: 7px;
    padding-left: 7px;
    width: 35px !important;
    height: 35px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    background: #fdfcfc;
  }

  .trending {
    border-radius: 50%;
    padding: 0px;
    padding-top: 7px;
    padding-left: 7px;
    width: 35px !important;
    height: 35px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    background: #fdfcfc;
  }

  .lighter {
    border-radius: 50%;
    padding: 0px;
    padding-top: 7px;
    padding-left: 7px;
    width: 35px !important;
    height: 35px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    background: #fdfcfc;
  }
}

li.Header__userpic {
  padding: 0;
  position: relative;
  a {
    padding: 6px;
  }
  .Userpic {
    width: 36px;
    height: 36px;
  }
}

.TopRightMenu__notificounter {
  position: absolute;
  top: 4px;
  right: 4px;
  > .NotifiCounter {
    display: block;
  }
}

div.Header__top {
  li.Header__search {
    padding: 0;
    &:hover path, &:focus path {
      @include themify($themes) {
        fill: themed('textColorAccent');
      }
    }
    &:visited path, &:active path {
      @include themify($themes) {
        fill: themed('textColorPrimary');
      }
    }
    > a {
      padding: 14px;
    }
    > a path {
      transition: 0.2s all ease-in-out;
      @include themify($themes) {
        fill: themed('textColorPrimary');
      }
    }
  }
  li.Header__hamburger.toggle-menu {
    &.toggle-menu {
      padding-left: 0.25rem;
    }
    > a {
      padding: 14px 0 14px 14px;
    }
  }
}
