
.UserWallet__buysp {
  @extend .e-btn-hollow;
}

.UserWallet__balance {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;

  h6 {
    text-align: center;
    margin-top: 10px;
  }

  &.UserWallet__balance.zebra {
    @include themify($themes) {
      background-color: themed('tableRowEvenBackgroundColor');
      color: themed('textColorPrimary');
      border-radius:5px;
    }
  }
}

.UserWallet__buysp {
  margin-right: 0 !important;
  margin-top: 1rem;
}

.UserWallet__claimbox {
  margin: 1.5rem 0 0.5rem;
  padding: 1rem 1rem 1.1rem 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include themify($themes) {
    border: themed('border');
    background-color: themed('highlightBackgroundColor');
    color: themed('textColorPrimary');
  }

  &-text {
    font-weight: bold;
  }
  .button {
    @extend .e-btn;
    @include font-size(14px);
    margin: 0;
  }
  // spacing for mobile collapse
  @media only screen and (max-width: 680px) {
    .button {
      margin: 8px 0 0 0;
    }
  }
}

.UserWallet__tbutton {
  width: 49%;
  margin-right: 1px;
}

.UserWallet__pbutton {
  width: 99%;
  margin-right: 1%;
}

.WalletSubMenu {
  > li > a {
    transition: 0.2s all ease-in-out;
    @include themify($themes) {
      color: themed('textColorSecondary');
    }

    &:hover, &:focus {
      @include themify($themes) {
        color: themed('textColorAccent');
      }
    }
  }
  > li > a.active {
    cursor: default;
    @include themify($themes) {
      color: themed('textColorPrimary');
    }
    font-weight: bold;
  }

  justify-content: space-around;
  margin: 0.5rem 0 1rem;
}

// protect for foundation bug for collapsed state drop-downs
@media only screen and (max-width: 40em) {
  .Wallet_dropdown {
    left: 10px !important;
  }

  .walletButtonsMobile {
    position: fixed;
    background: #fdfcfc;
    width: 100%;
    bottom: 0;
    z-index: 99;
    left: 0;
    border-top: solid 1px #eeecec;
    padding: 7px;
    height: 55px !important;

    .button {
      width: 48%;
      margin: 2px !important;
      font-size: inherit;
    }
  }

  .UserWallet__tbutton {
    margin-bottom: 0;
  }
}


