.App {
  min-height: 100vh;
  padding-top: 50px;
}

.index-page {
  .ad1 {
    display: block !important;
  }
}

.App__content {
  margin-top: 1rem;

  @media print, screen and (min-width: 52.5em) {
    margin-top: 2.5rem;
  }

  // /* Small only */
  @media screen and (max-width: 39.9375em) {
       margin-top: 0rem;
       margin-bottom: 3rem;

       .ad1 {
         position: fixed;
          bottom: 0px;
          z-index: 97;
          width: 100%;
          display: none;
          border-top: solid 1px #eeecec;
          padding: 7px 7px 2px 7px;
          background: #fdfcfc;
       }
   }
  // /* Medium and above */
  @media screen and (min-width: 40em) {
       .mob-bar {
         display: none;
       }
   }
  // /* Large and above */
  // @media screen and (min-width: 64.063em) {
  //     margin-top: 3rem;

}

.mini-header .App__content {
  margin-top: 0;
}

.welcomeWrapper {
  margin-top: 0rem;
  padding-bottom: 1rem;
}

.welcomeBanner {
  padding: 4em 0 4em;

  color: black;
  // background-image: url(../images/lp-bottom.jpg);
  // background-repeat: repeat-x;
  // background-position:bottom;
  //background-attachment:fixed;
}

.ad1 {
    text-align: center;
}

.ad-text {
  font-size: 10px;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.mob-bar {
  position: sticky;
  top: 50px;
  background: white;
  z-index: 100;
  padding: 20px 0px 8px 0px;
  border-bottom: 1px solid #efecec;
}

.RightMenu {
  background-color: #555;
  height: 100vh;
  color: #fff;
  padding-top: 3rem;
  .close-button {
    color: #fff;
  }
  .menu > li {
    > a {
      color: #fff;
      border-top: 1px solid #777;
    }
    > a:hover {
      background-color: #666;
    }
  }
  .menu > li.last {
    border-bottom: 1px solid #777;
  }
  .button.hollow {
    color: #fff;
    border: none;
  }
}

.PlainLink {
  @extend .link;
  @extend .link--secondary;
}

.welcomeBanner {
  position: relative;
  h2 {
    font-weight: bold;
    margin-bottom: 16px;
    @include font-size(48px);
    font-family: helvetica, sans-serif;
  }
  h4 {
    color: #5d5d5d;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 84%;
    max-width: 580px;
    margin: 0 auto;
    font-family: helvetica, sans-serif;
    @include font-size(18px);
  }
  .button {

    min-width: 240px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s all ease-in-out;
    text-transform: capitalize;
    font-size: 18px;
    background-color: #00c700;
    color: white;
    border: none;
    padding: 16px 22px;
    @include font-size(22px);
    cursor: pointer;
    &:hover, &:focus {
      background-color: $primary-brand-color;
      color: $color-white;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);
    }
  }
  .close-button {
    top: 0.5rem;
    right: 0;
  }
  .button.hollow {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.downvoted {
  opacity: 0.5;
  -webkit-filter: grayscale(1); // image
  filter: gray; // image grayscale
  transition: 0.2s all ease-in-out;
  color: #848282;
  @include themify($themes) {
    color: themed('textColorPrimary');
  }
  .Comment__header-user {
    color: #848282;
    @include themify($themes) {
      color: themed('textColorPrimary');
    }
  }
}

.downvoted:hover {
  opacity: 1;
  filter: none;
  -webkit-filter: none;
}

.App__announcement {
  padding-right: 40px;
  padding-top: 40px;
  .close-button {
    right: 0;
  }
}
