.PostsList__summaries {
  list-style-type: none;
  margin-left: 0;
}

.PostsIndex__topics {
  border-left: 1px solid $light-gray;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .PostsIndex__left {
    padding: 0;
  }
}

/* Medium and up */
@media screen and (min-width: 39.94em) {
  .PostsIndex__summaries {
    > li:first-child {
      .PostSummary {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
}

.articles {
  width: 100%;
  font-family: helvetica, sans-serif;
  padding: 1em;
  border: transparent;
  background-color: transparent;

  h2 {
    font-family: sans-serif;
  }

  &__content {
    border: transparent;

    @include themify($themes) {
      background-color: themed('moduleBackgroundColor');
      border-bottom: themed('border');
    }

    @include MQ(M) {
      margin: 0 0 40px;
      padding-bottom: 0;
      @include themify($themes) {
        border: themed('border');
      }
    }

    &:hover {
      @include MQ(M) {
      }
    }
  }

  &__content-header {
    display: flex;
    align-items: center;
    padding: 8px;
    position: relative;

    @include MQ(M) {
      @include themify($themes) {
        border-bottom: themed('border');
      }
    }

    &--footer {
      @include themify($themes) {
        border-top: themed('border');
        border-bottom: themed('border');
      }
      @include MQ(M) {
        @include themify($themes) {
          border-bottom: transparent;
        }
      }
    }
  }

  &__content-footer {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    @include font-size(15px);
    @include MQ(M) {
      padding: 16px;
      @include themify($themes) {
        border-top: themed('border');
      }
    }

    a {
      @extend .link;
      @extend .link--primary;
      @include font-size(15px);
    }
  }

  &__header {
    padding-top: 5px;
    padding-bottom: 1em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include MQ(M) {
      padding-top: 0;
    }
  }

  &__header-col {
    width: 100%;
    text-align: center;
    &--right {
      order: 1;
      width: 100%;
      @media only screen and (min-width: 370px) {
        width: auto;
        order: 2;
      }
    }
  }
  &__resteem {
    padding-bottom: 0px;
    margin-top: 24px;

    @include MQ(M) {
      margin-top: 8px;
      padding-bottom: 5px;
      @include themify($themes) {
        border-bottom: themed('border');
      }
    }
  }
  &__resteem-text {
    @include font-size(14px);
    margin-bottom: 4px;
    @include themify($themes) {
      color: themed('textColorSecondary');
    }
  }
  &__resteem-username {
    @extend .link--secondary;
    text-decoration: none;
  }
  &__icon-100 {
    padding-left: 8px;
    display: inline-block;
    position: relative;
    top: 0px;
  }
  &__h1 {
    font-family: $font-primary;
    font-weight: bold;
    @include font-size(20px);
    margin: 0;
    text-transform: capitalize;
    @include MQ(M) {
      @include font-size(22px);
    }
  }
  &__h2 {
    // @extend .h2;
    margin: 0;
    @include font-size(16px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    a {
      font-weight: bold;
      color: $primary-link-color;
      &:hover {
        color: $primary-link-hover-color;
      }
    }

    font-size: font-size(18px);
  }

  &__h3 {
    display: inline;
  }

  &__tag-selector {
    display: inline-block;
    select.Topics {
      margin-bottom: 0 !important;
      border: transparent;
      background-color: transparent;
      border-bottom: 1px solid #999;
      border-radius: 0;
      position: relative;
      top: -4px;
      margin-top: 12px;
      @include themify($themes) {
        color: themed('textColorSecondary');
      }
      @media only screen and (min-width: 370px) {
        margin-top: 0;
      }
    }
    @include MQ(L) {
      display: none;
    }
  }
  &__p {
    // @extend .p;
    margin: 0;
    padding-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  &__link {
    text-decoration: none;
    @include themify($themes) {
      color: themed('textColorPrimary');
    }
  }

  &__text-content {
    @include MQ(M) {
      padding: 0 1.2em;
    }
  }

  &__tags {
    @include themify($themes) {
      color: themed('textColorSecondary');
    }
    @include font-size(14px);
    margin-bottom: 18px;
  }

  &__tag-link {
    @include font-size(14px);
    @include themify($themes) {
      color: themed('textColorSecondary');
    }
    a {
      @extend .link;
      @extend .link--secondary;
    }
  }

  &__flag {
    width: 24px;
    height: auto;
    position: absolute;
    right: -4px;
    top: 0px;
    padding: 2px;
    @include MQ(M) {
      right: 10px;
      top: 12px;
    }
    display: none;

    .icon-flag-svg {
      @include themify($themes) {
        fill: themed('textColorSecondary');
      }
      transition: 0.2s all ease-in-out;
    }
    &:hover {
      cursor: pointer;
      .icon-flag-svg {
        @include themify($themes) {
          fill: themed('textColorError');
        }
      }
    }
  }

  &__content-block--img {
    height: 250px;
    overflow: hidden;
    background-size: cover;
    display: block;

    &:hover {
      opacity: 0.9;
    }
  }

  &__content-block--text {
    padding: 10px;
  }
}

// ,user layout-block

.user {
  display: flex;
  align-items: center;
  width: 100%;

  &__col {
    line-height: 1;
  }
  &__col--right {
    flex-grow: 1;
  }

  &__link {
    @extend .link;
    &:hover {
      .user__username {
        transition: 0.2s all ease-in-out;
        @include themify($themes) {
          color: themed('textColorAccent');
        }
      }
    }

  }

  &__profile-img {
    width: 40px !important;
    height: 40px !important;
    margin-right: 8px;
    transition: width 0.2s ease-out;
    @include MQ(M) {
      width: 48px !important;
      height: 48px !important;
      margin-right: 10px;
    }
  }

  &__name {
    display: inline;
    font-weight: bold;
    padding-right: 4px;
    margin: 0 2px 0 10px;
    line-height: 1.2;

    a {
      @extend .link--primary;
      font-weight: bold;
      @include font-size(16px);
    }
  }
  &__username, &__reputation {
    @extend .link--secondary;
    font-weight: normal;
    @include font-size(14px);
  }

  .Voting {
    float: right;
    font-size: 0.875rem;
    line-height: 1.5;
  }
}

.timestamp {
  &__link {
    text-decoration: none;
  }
  &__time {
    @extend .link--secondary;
    font-weight: normal;
    @include font-size(14px);
  }
}

.icon-svg {
  transition: 0.2s all 0.05s ease-in-out;
  @include themify($themes) {
    fill: themed('textColorSecondary');
  }
  &--accent {
    @include themify($themes) {
      fill: themed('textColorAccent');
    }
  }
  &--layout-line1, &--layout-line2, &--layout-line3 {
    height: 2px;
    @include opacity(1);
    transition: 0.3s all ease-in-out;
  }
  &--layout-line2 {
    y: 11px;
  }
  &--layout-line1 {
    y: 6px;
  }
  &--layout-line3 {
    y: 16px;
  }
}

.articles__layout-selector .icon-svg {
  &--accent {
    @include themify($themes) {
      fill: themed('textColorSecondary');
    }
  }
}

.articles__layout-selector:hover .icon-svg {
  &--accent {
    @include themify($themes) {
      fill: themed('textColorPrimary');
    }
  }
}

// Compressed list view CSS

a#changeLayout:focus {
  outline: none;
}

.icon-svg {
  transition: 0.2s all ease-in-out;
  @include themify($themes) {
    fill: themed('textColorSecondary');
  }
  &--accent {
    @include themify($themes) {
      fill: themed('textColorAccent');
    }
  }
  &--layout-line1, &--layout-line2, &--layout-line3 {
    height: 2px;
    @include opacity(1);
    transition: 0.3s all ease-in-out;
  }
  &--layout-line2 {
    y: 11px;
  }
  &--layout-line1 {
    y: 6px;
  }
  &--layout-line3 {
    y: 16px;
  }
}

.articles__resteem .username {
  @extend .link--secondary;
  text-decoration: none;
}

.articles__resteem-icon path {
  fill: #cacaca;
}
