.UserProfile {

}

.UserProfile__tab_content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.UserProfile__top-nav {
  padding: 0;
  .row {
    .columns {
      overflow-x: auto;
    }
  }
  .menu {
    background-color: transparent;
  }
  .menu > li > a {
    transition: all 200ms ease-in;
    transform: translate3d(0, 0, 0);
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: transparent;

    &:hover, &:focus {

    }
    &.active {
      @include themify($themes) {
        background-color: themed('backgroundColor');
        color: themed('textColorPrimary');
        text-decoration: underline;
      }
      z-index: 2;
      font-weight: bold;
    }
  }

  div.UserProfile__top-menu {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    border-top: black;
    border-top-style: solid;
    border-width: 0.8px;
    // Override default svg vertical alignment
    .Icon > svg, .Icon span.icon {
      vertical-align: middle !important;
    }
  }
}

.UserProfile__section-title {
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #EEE;
}

.UserProfile__banner {

  .profile_div {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  > div.column {
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .button {
      text-shadow: none;
    }

    min-height: 155px;
  }
  h1 {
    padding-top: 20px;
    font-weight: 600;
    font-size: 1.84524rem !important;
    @media screen and (max-width: 39.9375em) {
      font-size: 1.13095rem !important;
    }
  }
  .Icon {
    margin-left: 1rem;
    svg {
      fill: #9fa3a5;
    }
  }

  .Userpic {
    margin-right: 0.75rem;
    vertical-align: middle;
  }

  .UserProfile__rep {
    font-size: 80%;
    font-weight: 200;
  }

  .UserProfile__buttons {
    position: absolute;
    top: 15px;
    right: 5px;

    label.button {
      color: black;
      border-radius: 3px;
      background-color: white;
    }
  }

  .UserProfile__bio {

    font-size: 95%;
    max-width: 520px;
    line-height: 1.4;
    margin: auto;
  }
  .UserProfile__info {
    font-size: 90%;
    font-weight: 900;
  }

  .UserProfile__stats {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 90%;
    font-weight: 900;

    a {
      @include hoverUnderline;
      vertical-align: middle;
    }

    > span {
      padding: 0px 10px;
      border-left: 1px solid #CCC;
      &:first-child {
        border-left: none;
      }
    }

    .NotifiCounter {
      position: relative;
      top: -5px;
    }
  }
}

.UserWallet__balance {
  > div:nth-child(2) {
    text-align: right;
  }
}

@media screen and (max-width: 39.9375em) {

  div.UserProfile__top-nav {
    display: none;
  }

  div.UserProfile__top-nav .menu li > a {
    padding: 8px;
  }

  .UserProfile__top-menu > div.columns {
    padding-left: 0;
    padding-right: 0;
  }

  .UserProfile__banner .Userpic {
    width: 36px !important;
    height: 36px !important;
  }

  .UserProfile__banner .UserProfile__buttons {
    text-align: right;

    label.button {
      display: block;
    }
  }

  .UserProfile__banner .UserProfile__buttons_mobile {
    position: inherit;
    margin-bottom: .5rem;
    .button {
      background-color: $white;
      color: $black;
    }
  }

  .UserWallet__balance {
    > div:last-of-type {
      text-align: left;
    }
  }

  .UserWallet__claimbox {
    justify-content: center;
  }

  .UserReward__row {
    > div:last-of-type {
      padding-left: 20px;
    }
  }
}
